*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 26px;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
nav ul li a:hover{
    color: rgb(174, 174, 245);
    font-size: 1.2rem   ;
 
 }
#menu-bar{
    font-size: 3.6rem;
    color: white;
    display: none;
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;

}
.firstsection > div {
    width: 30%;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem ;
    height: 4rem;
    background: transparent;
    border: .2rem solid  ;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background:white;
    color: purple;
}
.leftsection{
 font-size: 3rem;

  
}
.rightsection img{
    padding-top: 20%;
width: 80%;
animation: floatImage 4s ease-in-out infinite;
border-radius: 50px;

}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.purple{
    color: blueviolet;
}
#element{
    color: blueviolet;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:rgb(0, 0, 33);
}
.about-img img{
    width: 80%;
    border-radius: 80%;
    


}
.about-img img:hover{
    box-shadow: 0 0 5px purple,
        0 0 25px purple, 0 0 50px purple,

        0 0 100px purple;
}
.heading{
    text-align: center;
    font-size: 4.5rem;

}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:purple;
    border-radius: 4rem;
    box-shadow: 0 0 1rem solid purple;
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transform: .5s ease;
    text-decoration: none;
}
.btn:hover{
      box-shadow: 0 0 5px purple,
        0 0 25px purple, 0 0 50px purple,

        0 0 100px purple;
}
.heading {
    text-align: left;
    padding-left: 80px;
    
    font-size: 3rem;
}
.services h2{margin-bottom: 4rem;
    
   
    padding-top: 15%;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}
.services-container .services-box{
    flex: 1 1 30rem;
    background-color: rgb(0, 0, 33);
    padding: 3rem 2rem 4rem;
    border-radius: 10rem;
    text-align: center;
    border: .2rem solid black;
    transition: .5s ease;
    
}
.services-container .services-box:hover{
    border-color: purple;
    transform: scale(1.02);
}
.services-box i{
    font-size: 7rem;
    color: purple;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.2rem;

}
.portfolio{
    background-color: rgb(0, 0, 33);
}
.portfolio h2{
    margin-bottom: 4rem;
    
   
    padding-top: 15%;   
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem  purple;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    filter: grayscale(100%);
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.portfolio-box:hover img{
    filter: grayscale(0%);
    transform: scale(1.1);
    
    
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transform:.5s ease;

}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
    
}
.portfolio-layer h4{
    font-size: 3rem;
  
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0rem 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}
.portfolio-layera i{
    font-size: 2rem;
    color: rgb(0, 0, 33);
    
}
.contact h2{
    margin-bottom: 3rem;
    
   
    padding-top: 15%;   
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    border-color: black;
    width: 100%;

    font-size: 1.6rem;
    color: wheat;
    background-color: rgb(0, 0, 33);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;

}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(0, 0, 33);
}
.footer-text{
    font-size: 1.6rem;
}
.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: soild purple;
    border-radius: .8rem;
    transform: .5s ease;
    position: absolute;
    left: 90%;
   
    font-size: 2rem;
    color: purple;}
   

.footer-iconTop a:hover{
          box-shadow: 0 0 1rem purple;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: purple;
}

/*Breckpoint*/
@media(max-width:1200px){
    html{
        font-size: 55%;

        }
}
@media(max-width: 1200px){
    .header{
        padding: 2rem 3%;
        
    }
    section{
        padding: 10rem 3%;

    }
    .services{
        padding: 7rem;


    }
    .portfolio{
        padding-bottom:  7rem;

    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:991px){
    nav{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width: 768px){
    #menu-bar{
        display: block;
    }
    .firstsection{
        flex-direction: column;
    }
    .rightsection img{
        width: 90vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }



}
@media(max-width:617px){
    .portfolio-container{
        grid-template-columns:1fr;
    }
    .rightsection img{
        width: 80vw;
        margin-bottom: 8rem;
    }
    .about-img img{
        width: 100vw;
        margin-top: 8rem;
        display: block;
     margin-right: auto;
       
    }
   

}
@media(max-width:450px){
    body{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    
    }
    .rightsection img{
        width: 100vw;
        margin-bottom: 8rem;
        margin-left: 4rem;
         display: none ;
        
        
    }
      .about-img img{
        width: 100vw;
        margin-top: 8rem;
        display: block;
     margin-right: auto;
       
    }
      nav ul{
        display: flex;
        justify-content: center;
        display: none;
    }
    .left{
        font-size: 3.5rem;
    }

    
   
    

}
